@import '../vars.scss';

.step-one {
  .exchange-widget--main-form {
    width: 100%;
    margin-bottom: 20px;
    .exchange-input-search {
      width: 140px;
    }
  }
  .notify {
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-start;
    // align-items: baseline;
    font-size: 14px;
    color: #627080;
    .notify-icon {
      margin-right: 14px;
      min-width: 20px;
      flex-basis: 20px;
      height: 20px;
      > img {
        width: 100%;
        height: auto;
      }
    }
    &.refund-notify {
      display: none;
    }
  }
  .input-address {
    margin: 24px 0;

    &.refund-address, &.payment-id {
      display: none;
    }
    .input-address--header {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      .input-title {
        color: #627080;
      }
      .input-tooltips {
        color: $default-theme-color;
        .refund-address-remove {
          display: none;
        }
        > * {
          margin-left: 24px;
          cursor: pointer;
        }
      }
    }
    .input-address--body {
      width: 100%;
      background-color: white;
      border-radius: 4px;
      position: relative;
      .success-valid-icon {
        display: none;
        position: absolute;
        top: calc(50% - 16px);
        right: 16px;
        width: 32px;
        height: 32px;
        >img {
          width: 100%;
          height: auto;
        }
      }
      > input[type="text"] {
        padding: 8px;
        width: 100%;
        height: 50px;
        border: 1px solid #CDD1D6;
        border-radius: 4px;
        background-color: white;
        font-size: 16px;
        color: $primary-color;
        &:focus {
          border-color: #26CE7B;
        }
        &.valid {
          border: 1px solid #26CE7B;
        }
        &.invalid {
          border: 1px solid rgb(240, 68, 25);
        }
      }
    }
  }
}


@media screen and (max-width: $mobileWidth) {
  .step-one {
    .exchange-widget--main-form {
      .exchange-input-search {
        width: 100px;
      }
    }
    .notify {
      font-size: 12px;
      margin-bottom: 32px;
      .notify-icon {
        margin-right: 8px;
        min-width: 16px;
        flex-basis: 16px;
        height: 16px;
      }
    }
    .input-address {
      margin: 12px 0 16px;
      &.recipient-address {
        margin-bottom: 30px;
      }
      .input-address--body {
        > input[type="text"] {
          padding: 8px 20px;
        }
      }
      .input-address--header {
        flex-direction: column;
        align-items: flex-start;
        > * {
          margin-bottom: 8px;
        }
        .input-tooltips {
          > * {
            margin-left: 0;
          }
        }
      }
    }
  }
}