
$gray:        #B5BBC2;
$default-theme-color: #3BEE81;
$primary-color:    #2b2b37;
$appWidth:      1140px;
$desktopWidth:  1280px;
$mobileWidth:   550px;
$tableWidth:    768px;

$bg-color-gray: #F7F7F9;
